<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GAME</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/game.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div id="data_store" data-json="{{ data }}"></div>
    <div style="display: flex; width: 100vw; height: 100vh;">
        <div style="height: 100%; overflow: hidden; display: flex; justify-content: flex-start;">
            <img
                src="/static/img/campfire_idle.gif"
                style="width: 100%; height: 100%; object-fit: contain;"/>
            <div id="marsh_left" style="position: absolute; left: 9%; top: 40%;">
                <img 
                    src="/static/img/marsh_toast_L.gif"
                    style="width: 60%; height: 60%; object-fit: contain;"/>
            </div>
            <div id="owl_left" style="position: absolute; left: 3.5%; top: 40%; display: block;">
                <img 
                    src="/static/img/hooter_idle_L.gif"
                    style="width: 60%; height: 60%; object-fit: contain;"/>
            </div>
            <div id="marsh_left" style="position: absolute; left: 22%; top: 40%;">
                <img 
                    src="/static/img/marsh_burn_R.gif"
                    style="width: 60%; height: 60%; object-fit: contain;"/>
            </div>
            <div id="owl_right" style="position: absolute; left: 26.5%; top: 40%; display: block;">
                <img 
                    src="/static/img/hooter_idle_R.gif"
                    style="width: 60%; height: 60%; object-fit: contain;"/>
            </div>
        </div>
        <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
            <p>This paragraph is also in the primary color.</p>
        </div>
        <div style="height: 25%; display: flex; align-items: center; justify-content: center;">
            <button id="toggleOwlLeft" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">Toggle Left Owl</button>
            <button id="toggleOwlRight" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer; margin-left: 10px;">Toggle Right Owl</button>
        </div>
    </div>
</body>
</html>